html{
    color: #0c2a4b;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("fundo.png");
    background-color: #cccccc;
    text-align: center;
    border-radius: 25px;
}
h2{

    font-family: DejaVu Sans Mono, monospace;
}

#eu {
    border-radius: 50px;
    display: block;
    border: solid 2px rgba(0, 0, 0, 0.445);

}
#descriçao{
    background-color: rgba(90, 193, 233, 0.897);
    width: 616px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
   
}

#sla {
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
#hbo {
    text-align: left;
    background-color: rgba(90, 193, 233, 0.897);
    width: 270px;
    padding: 0 10px 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
    
}
#hbo2 {
    text-align: left;
    background-color: rgba(90, 193, 233, 0.897);
    width: 270px;
    padding: 10px 10px 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}
#td {
    padding-right: 200px;
}


#p1 {
    text-align: justify;
    font-family: DejaVu Sans Mono, monospace;

}

h4 {
    text-align: center;
}

#fim {
    background-color: rgba(90, 193, 233, 0.897);
    width: 500px;
    padding: 10px;
    display: block;
    margin: 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
}



#stg1 {
    width: 280px;
    height: 36px;
    display: block;
    margin:  3px 0;
    padding: 4px;
    background-color: rgba(66, 135, 167, 0.329);
    border-radius: 10px;
}

#stg2 {
    width: 280px;
    height: 36px;
    display: block;
    margin:  10px 0 0;
    padding: 4px;
    background-color: rgba(66, 135, 167, 0.329);
    border-radius: 10px;
}

.list{
    line-height: 25px;
    
}

footer{
    font-style: italic;
}

#nerd {
    color: #03045e
}

#min {
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}