html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width:360px) {
  .container {
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
  }
  
  .container header, header nav ul {
    display: flex;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container header ul li {
    margin:  0 3px;
  }

  h1, h2 {
    text-align: center;
  }
}
